td:nth-of-type(2n):not(:empty){background-color: pink !important;} td:first-of-type:not(:empty){background-color: lightblue !important;} td{border:0; border-radius: 20px; padding: 10px !important; background: none !important;} table{background: url("bg.jpg") fixed !important; background-size: cover !important;} tr{padding: 10px 0} th{display: none;}
table{
    width: 500px;
    margin: 0 auto;
    padding: 25px;

}
html,
body{
    margin: 0;
    padding: 0;
    background-color: black;
}