#messages {
    margin: 0 auto;
    max-width: 350px;
    background-image: url("/resources/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.Kate{
    background-color: pink;
    color: black;
}

.Matthew{
    background-color: lightsteelblue;
}

.date{
    text-align: center;
    margin: 20px 0;
    color: #FFF
}